:root {
  --mainBgc: #581c87;
  --secBgc: #7e22ce;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#root {
  background-color: rgb(24, 23, 23);
  color: white;
  min-height: 100vh;
  position: relative;
}
button:hover {
  cursor: pointer;
}
.transparent {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.popUp {
  padding: 2rem;
  background-color: var(--mainBgc);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid black;
  box-shadow: 6px 4px var(--secBgc);
  border-radius: 1rem;
  width: clamp(25rem, 40%, 50rem);
  height: clamp(15rem, 40%, 50rem);
  z-index: 2;
}
.popUp > input {
  outline: none;
  width: 80%;
  height: 2.5rem;
  border-radius: 0.75rem;
  border: inherit;
  text-align: center;
}
.popUp > button {
  font-size: medium;
  color: white;
  width: 40%;
  height: 2rem;
  background-color: var(--secBgc);
  border: 1.25px solid black;
  border-radius: 0.5rem;
  box-shadow: 2px 2px black;
}
.popUp > button:hover {
  background-color: #4e226f;
}
